[submodule "vendor/json"]
	path = vendor/json
	url = git@github.com:nlohmann/json.git
[submodule "vendor/httpxx-parser"]
	path = vendor/httpxx-parser
	url = git@github.com:kildevaeld/httpxx-parser.git
[submodule "vendor/uvhttp"]
	path = vendor/uvhttp
	url = git@github.com:kildevaeld/uvhttp
